* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    height: 100%;
    background-color: #333333;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 65% 15%;
}

.header {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 2em;

}

.nav ul{
    display: flex;
}

.nav li {
    list-style: none;
}

.nav a {
    text-decoration: none;
    margin: 0px 4px;
    font-size: 0.6em;
    color: #f4f4f4;
    padding: 6px 11px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px #f4f4f4; */
}

.nav a:hover {
    color: #FFCC66;
    transition: 0.3s ease-out;
    box-shadow: 0px 0px 5px #FFCC66;

}

#active {
    color: #FFCC66;
    box-shadow: 0px 0px 5px #FFCC66;
}


.main {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px #808080;
}

.hero {
    width:90%;
    height: 90%;
    background-color: #666666;
    display: flex;
    align-self: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px #808080;
    /* border-radius: 20px; */
    padding: 10px;
    border-radius: 5px;


}

.photo img {
    border-radius: 100%;
}

.photo, .content {
    text-align: center;
}

.content h1 {
    font-size: 1.9em;
    padding: 5px 0px 5px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: auto;
    background-color: #FFCC66;
    box-shadow: 0px 0px 5px 0px #666666;
    border-radius: 5px;
}

.content h2 {
    font-size: 0.9em;
    font-weight: 300;
    margin-top:10px;
    color: #f4f4f4;

}

.content h3 {
    font-size: 0.6em;
    font-weight: 300;
    margin-bottom:10px;
    color: #f4f4f4;


}

.content p {
    margin: 10px;
    font-size: 0.6em;
    color: #f4f4f4;
}

.footer {
    box-shadow: 0px 0px 5px 0px #808080;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #f4f4f4
}

.links ul {
    display: flex;
}

.links li {
    list-style: none;
}

.links a {
    text-decoration: none;
    margin: 0px 8px;
    font-size: 0.7em;
    color: #f4f4f4;
}
.links a:hover {
    color:#FFCC66;
    
}

.rights {
    font-size: 0.7em;
    text-align: center;
}

.btn {
    box-shadow: 0px 0px 5px 0px #f4f4f4;
    text-decoration: none;
    font-size: 0.6em;
    padding: 6px 11px;
    border-radius: 5px;
    background-color: #333333;
    color: #f4f4f4;
}

.btn:hover {
    color:#FFCC66;
    box-shadow: 0px 0px 5px 0px #FFCC66;
}

@media (min-width: 367px) and (max-width: 480px) {
    .nav a {
        font-size: 0.8em;
    }

    .links a {
        font-size: 0.8em;
    }

    .rights {
        font-size: 0.7em;
    }

    .btn {
        font-size: 0.8em;
    }

    .hero h1 {
        font-size: 2.2em;
    }

    .hero h2 {
        font-size: 1em;
    }

    .hero h3 {
        font-size: 0.7em;
    }

    .hero p {
        font-size: 0.7em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .nav a {
        font-size: 0.9em;
    }

    .links a {
        font-size: 0.9em;
    }

    .rights {
        font-size: 0.9em;
    }

    .btn {
        font-size: 0.9em;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero h2 {
        font-size: 1.1em;
    }

    .hero h3 {
        font-size: 0.8em;
    }

    .hero p {
        font-size: 0.8em;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        grid-template-rows: 15% 70% 15%;
    }

    .header {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav a {
        font-size: 0.9em;
    }

    .links a {
        font-size: 0.9em;
    }

    .rights {
        font-size: 0.9em;
    }

    .btn {
        font-size: 0.9em;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero h2 {
        font-size: 1.2em;
    }

    .hero h3 {
        font-size: 0.9em;
    }

    .hero p {
        font-size: 0.9em;
    }
}


@media (min-width: 1025px) {
    .footer {
        flex-direction: row;
    }
}

@media (min-width: 1025px) {
    .container {
        grid-template-rows: 15% 70% 15%;
    }

    .header {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav a {
        font-size: 0.9em;
    }

    .links a {
        font-size: 0.9em;
    }

    .rights {
        font-size: 0.9em;
    }

    .btn {
        font-size: 0.9em;
    }

    .hero h1 {
        font-size: 4em;
    }

    .hero h2 {
        font-size: 1.3em;
    }

    .hero h3 {
        font-size: 1em;
    }

    .hero p {
        font-size: 1em;
    }

    .footer {
        flex-direction: row;
    }
}

