/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Open Sans", sans-serif;
}

body, html {
    height: 100%;
    background-color: bisque;
}
nav {
    background-color: transparent;
}
.hero {
    min-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text h1 {
    font-size: 4.5em;
}

.hero-text h2 {
    font-size: 1.3em;
}

.hero-text h3 {
    font-size: 1em;
}

.about {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    width: 80%;
}

.project {
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.footer-bottom {
    text-align: right;
}

@media (max-width:768px){
    .container {
        margin-bottom: 2px;
    }

    .hero {
        min-height: 75%;
        text-align: center;
        display: flex;
        align-items:flex-start;
        justify-content: center;
    }

    .hero-text h1 {
    font-size: 3.3em;
    }

    .hero-img {
        width: 80%;
    }

    .about {
        text-align: center;
        min-height: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    .project {
        min-height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    footer {
        text-align: center;
    }

    .nav-bottom {
    text-align: center;
    }

    .footer-bottom {
        text-align: center;
    }
}